=render 'shared/year_month_change', year: @year, month: @month
.flex-wrap
  -@budget_groups.each do |budget_group|
    %table.table-bordered.budget_table
      %thead
        %tr
          %th{style: "background-color: #{budget_group.color}"}
            =link_to budget_group.title, edit_budget_group_path(budget_group), class: "show_link"
            - if budget_group.balance_flag
              %i.fas.fa-calculator{style:"color: #ff7927"}

          %th 予定
          %th 実費
      %tbody
        - budget_group.budget_items.year_month(@year, @month).each do |item|
          %tr
            %td
              =link_to item.title, edit_budget_item_path(item), class: "show_link"
              - if item.income_flag
                %i.fas.fa-plus{style:"color: #414fcd"}
              - if item.continue_next_month_flag
                %i.fas.fa-redo-alt{style:"color: #a0db35"}
            %td= "#{item.amount_plan.to_s + '円' if item.amount_plan}"
            %td= "#{item.actual_amount.to_s + '円' if item.actual_amount}"
      -if budget_group.budget_items.year_month(@year, @month).size != 0
        %tfoot
          %tr
            %td 合計
            %td= "#{budget_group.plan_sum_in(@year,@month)}円"
            %td= "#{budget_group.actual_sum_in(@year,@month)}円"
