.new_budget_group_page
  =form_with model: @budget_group, local: true do |f|
    .form-group.form-group-title
      = f.label :title, "グループ名" ,class: "label label-title"
      = f.text_field :title, class: "form form-title", autocomplete:'off'
      .form-caution (最大12文字)
      = f.label :color, "色" ,class: "label label-title"
      = f.select :color, BudgetGroup::COLORS
    =f.submit "登録", class: 'btn btn-primary form-btn'
.budget_item_link
  =link_to "項目の作成", new_budget_item_path, method: :get
.budget_content
  -@budget_groups.each do |budget_group|
    %table.table-bordered.budget_table
      %thead
        %tr
          %th{style: "background-color: #{budget_group.color}"}= budget_group.title
          %th 予定
          %th 実費
      %tbody
        - budget_group.budget_items.each do |item|
          - budget_amount = item.amount_in(year: @year, month: @month) || BudgetAmount.new
          %tr 
            =form_with model: budget_amount do |f|
              %td= item.title
              %td
                =f.number_field :amount_plan, class: "table_amount_field"
                円
              %td
                =f.number_field :actual_amount, class: "table_amount_field"
                円
              %td
                = f.hidden_field :year, value: @year
                = f.hidden_field :month, value: @month
                = f.hidden_field :budget_item_id, value: item.id
                =f.submit "確定"
      %tfoot
        %tr
          %td 合計
          %td= budget_group.budget_items.map{|item| item.amount_plan(year: @year, month: @month)}.inject(:+)
          %td= budget_group.budget_items.map{|item| item.actual_amount(year: @year, month: @month)}.inject(:+)

