=render 'shared/year_month_change', year: @year, month: @month
.flex-sparo
  .new_budget_group_page
    =form_with model: @budget_group, local: true do |f|
      .form-group.form-group-title
        = f.label :title, "グループ名" ,class: "label label-title"
        = f.text_field :title, class: "form form-title", autocomplete:'off'
        .form-caution (最大12文字)
        = f.label :color, "色" ,class: "label label-title"
        = f.select :color, BudgetGroup::COLORS
        .check_box
          =collection_check_boxes(:budget_group, :budget_group_item_ids, current_family.budget_items.where(year: @year, month: @month), :id, :title)
      =f.submit "登録", class: 'btn btn-primary form-btn'
  .new_budget_item_page
    =form_with model: @budget_item, local: true do |f|
      .form-group.form-group-title
        = f.label :title, "項目名" ,class: "label label-title"
        = f.text_field :title, class: "form form-title", autocomplete:'off'
        .form-caution (最大12文字)
        .radio_button
          = f.radio_button :income_flag, :false, class: "radio-btn"
          = f.label :income_flag, "支出", {value: :false, style: "display: inline-block;"}
          = f.radio_button :income_flag, :true, class: "radio-btn"
          = f.label :income_flag, "収入", {value: :true, style: "display: inline-block;"}
        .radio_button
          = f.radio_button :continue_next_month_flag, :false, class: "radio-btn"
          = f.label :continue_next_month_flag, "今月のみ", {value: :false, style: "display: inline-block;"}
          = f.radio_button :continue_next_month_flag, :true, class: "radio-btn"
          = f.label :continue_next_month_flag, "毎月", {value: :true, style: "display: inline-block;"}
        .check_box
          =collection_check_boxes(:budget_item, :budget_group_item_ids, current_family.budget_groups, :id, :title)
        = f.hidden_field :year, value: @year
        = f.hidden_field :month, value: @month
      =f.submit "登録", class: 'btn btn-primary form-btn'

.flex-wrap
  -@budget_groups.each do |budget_group|
    %table.table-bordered.budget_table
      %thead
        %tr
          %th{style: "background-color: #{budget_group.color}"}
            = budget_group.title
            - if budget_group.balance_flag
              %i.fas.fa-calculator{style:"color: #ff7927"}
          %th 予定
          %th 実費
      %tbody
        - budget_group.budget_items.year_month(@year, @month).each do |item|
          %tr
            =form_with model: item do |f|
              = f.hidden_field :id, value: item.id
              %td
                = item.title
                - if item.income_flag
                  %i.fas.fa-plus{style:"color: #414fcd"}
                - if item.continue_next_month_flag
                  %i.fas.fa-redo-alt{style:"color: #a0db35"}
              %td
                =f.number_field :amount_plan, class: "table_amount_field"
                円
              %td
                =f.number_field :actual_amount, class: "table_amount_field"
                円
              %td
                =f.submit "確定", class: "btn btn-success table_amount_field_btn"
      -if budget_group.budget_items.year_month(@year, @month).size != 0
        %tfoot
          %tr
            %td 合計
            %td= "#{budget_group.plan_sum_in(@year,@month)}円"
            %td= "#{budget_group.actual_sum_in(@year,@month)}円"
